body{
  display: flex;
  justify-content: center;
  height: 80dvh;
  align-items: center;
  padding: 50px;
  font-family:monospace;
}
.cont{
  padding: 80px 50px;
  border: 1px solid black;
  border-radius: 2em;
  box-shadow: 10px 10px  black;
}

input{
  display: block;
  padding: 3px;
  margin: 8px 0px;
}

button{
  display: block;
  width: 50%;
  padding: 3px;
  margin: auto;
  margin-top: 20px;
  font-family:monospace ;
}

span{
  position: absolute;
  color:red;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
